{% extends 'layouts/admin.html.twig' %}

{% block title %}Admin {{ parent() }}{% endblock %}

{% form_theme form 'layouts/forms/default.html.twig' %}

{% block body %}
    <h1>Edit a Client</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.reference) }}
        {{ form_row(form.email) }}

    {{ form_end(form) }}

{% endblock %}