{% extends 'layouts/admin.html.twig' %}

{% block title %}Admin {{ parent() }}{% endblock %}

{% form_theme form 'layouts/forms/default.html.twig' %}

{% block body %}
    <h1>Create a Domain</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.domain) }}
        {{ form_row(form.expireDate) }}

    {{ form_end(form) }}

{% endblock %}